*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 100vh;
    background-image: url('../images/banner/banner3.png');
    text-align: right;
    background-size: cover;
}
.banner-details{
    padding-right: 200px;
    color: #FFFFFF;
    font-size: 40px;
}
.banner-description{
    font-size: 16px;
    width: 600px;
    padding-top: 20px;
}

/* failures of previous section styles */
.failures-year{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    margin-top: 131px;
    align-items: center;
    gap: 100px;
}
.failur-year-history{
    width: 400px;
    padding-top: 150px;
}
.failur-year-title{
    font-size: 50px;
    color: #151414;
    font-weight: bold;
    padding-left: 40px;
}
.year-description{
    padding-top: 24px;
    padding-left: 40px;
    color: #444343;
}
.some-advice{
    padding-top: 16px;
    color: #444343;
}
.some-advice li{
    list-style:none;
}
.check-primary{
    color: #16D887;
}

/* my plan section styles  */
.my-plan-title{
    font-size: 40px;
    font-style: bold;
    color: #151414;
    text-align: center;
    margin-top: 129px;
}
.plans{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 86px;
    text-align: center;
}
.ideas p{
    font-size: 25px;
    color: #737272;
}
.plans-title{
    font-style: bold;
    font-size: 30px;
    color: #151414;
    margin-top: 15px;
    margin-bottom: 10px;
}
.positive-thinking{
    height: 300px;
    margin: 140px 230px;
    align-items: center;
    background-image: linear-gradient(90deg, #005FAC, rgba(0, 95, 172, 0)), url('../images/watch.png') ;
    background-size: cover;
    border-radius: 10px;
}
.positive-ideas{
    padding: 59px 64px;
}
.thinking-title{
    font-size: 40px;
    font-style:Bold;
    color: #fff;
}
.thinking-primary{
    padding: 20px 36px;
    margin-top: 24px;
    border-radius: 5px;
    border: none;
    color: #005FAC;
    font-size: 20px;
    font-weight: bold;
}
/* footer section */
footer{
    height: 550px;
    background-color: #151414;
    color: #FFFFFF;
}
.contact{
    display: flex;
}
.future, .subscribe{
    padding: 130px 226px;
}
.contact-title{
    font-size: 45px;
}
.contact-description, .contact-phone{
    margin-top: 16px;
}
.contract-email{
    margin-top: 25px;
}
.contact img{
    margin-top: 30px;
}
.email-input{
    font-size: 18px;
    padding: 18px;
    border-radius: 8px;
    margin-top: 15px;
    color: #FFFF;
    background-color: #151414;
    border: 1px solid white;
}
.contact a{
    text-decoration: none;
    margin-right: 18px;
}
.subscribe-btn{
    margin-top: 16px;
    background-color: #005FAC;
    border: none;
    font-size: 18px;
    color: white;
    padding: 20px 36px;
    border-radius: 8px;
}